@charset "UTF-8";

.communityTbl {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 400px;
	text-align: center;
}

.communityTbl
#tbl_community_head {
	margin-left:auto;
	margin-right:auto;
	width: 600px;
}

.communityTbl
#tbl_community {
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	border-top: 1px solid #444444;
    border-collapse: collapse;
}

.communityTbl
#tbl_community_such {
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}

#com_head_div{
	text-align:center;
	width:650px;
	height:2px;
	border-radius:0px;
	background: black;
}

/*커뮤니티 글보기 페이지*/
.community_writeTbl{
	width: 750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:350px;
	text-align: center;
}

.community_writeTbl
#tbl_community_write_head {
	width: 730px;
	margin-left:auto;
	margin-right:auto;
}

#com_write_head_div {
	text-align:center;
	width:700px;
	height:2px;
	border-radius:0px;
	background: black;
}

.community_writeTbl
#tbl_comDetail {
	margin-left:auto;
	margin-right:auto;	
	width: 650px;
	border-top: 1px solid #444444;
    border-collapse: collapse;
}

.community_writeTbl
#tbl_com_comment {
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;	
	width: 700px;
}

/*커뮤니티 글쓰기 페이지*/
.community_writeTbl
#tbl_comReg {
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width: 650px;	
	border-top: 1px solid #444444;
    border-collapse: collapse;
}

/*커뮤니티 글수정 페이지*/
.community_updateTbl{
	margin-left:auto;
	margin-right:auto;	
}
.community_updateTbl
#tbl_comUpdate{
	margin-left:auto;
	margin-right:auto;
	border-top: 1px solid #444444;
    border-collapse: collapse;
}

.community_updateTbl
#tbl_comUpdate
textarea{ 
	width: 430px;
	height: 100px;
}

/*커뮤니티 상세 페이지에 댓굴*/
.community_writeTbl
#tbl_reply {
	width: 800px;
	margin-top: 30px;
}
.community_writeTbl
#tbl_reply 
textarea{
	width: 710px;
	height: 50px;
}
