@charset "UTF-8";

.homeTbl {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:300px;
	width: 930px;
	height: 800px;
}

#homeTbl_td {
	width: 200px;
	height: 250px;
}

.homeTbl
#home_sales_tbl{
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #444444;
    border-collapse: collapse;
}

#home_sales_tbl:hover {
	cursor: pointer;
	color: blue;
}

.homeTbl
#home_sales_tbl
img {
	width: 200px;
	height: 200px;
}